/*
Palette:

Black: #323032
Light-Black: #686c6d
Bleu: #11779F
Rouge: #B32728
White: #F8FDFF
Grey: #D6D2C9
orange : #E8482E


J-rouge: #e41908
J-jaune: #efe72a
J-vert: #0f702b
J-Bleu: #4a72ca
j-rose: #d4638f
J-Blanc: 

*/

/* Style pour tous  */

@font-face {
  font-family: Changa;
  src: url('../fonts/Changa-Medium.ttf');
}
@font-face {
  font-family: Merrycle;
  src: url('../fonts/Merrycle.otf');
}


body {
  color: #323032;
  font-family: 'Changa', sans-serif;
  /* font-weight: bold; */
  background-color: black;
  transform: scale(1);
  transform-origin: center top;
}

.xBody {
  position: relative;

  margin: 8px auto 15px auto;
  background: #323032;
}



* {
  transition: 0.1s ease-in-out;
  z-index: 1;
}

button {
  cursor: pointer;
  font-family: 'Changa', sans-serif;
  border-radius: 3px;
  border-style: solid;
  
}



/* style pour l'ecran joindre */

#join-game {
  position: relative;
  width: 400px;
  background: #F8FDFF;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#join-game h1{
  color: #323032;
  font-size: 32px;
  margin: 4px;
  padding: 0;
  text-align: center;
}

#join-game .join-input {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto;
  text-align: left;
}

#join-game .join-input input{
  float: right;
  line-height: 18px;
}

#join-game button {
  position: relative;
  margin: 1%;
  border-radius: 3px;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  width: 48%;
  font-size: 16px;
  background: #686c6d;
  color: #F8FDFF;
}

#join-game #join-enter {
  float: left;
}

#join-game #join-enter:hover {
  background: #E8482E;
}

#join-game #join-create:hover {
  background: #E8482E
}

#join-game #error-message {
  height: 15px;
  text-align: center;
  margin-top: 5px;
}



/* style pour l'ecran game */
#game {
  /* position: absolute; */
  /* width: 1300px; */
  /* left: 50%; */
  /* transform: translateX(-50%) */
  /* border: solid 1px red; */
   /* background: #323032; */
}

#Playerlist {
	position: absolute;
	width: 250px;
	top: 20px;
	left: 10px;
	background: #F8FDFF;
	border: 2px solid #F8FDFF;
	border-radius: 10px;
	  /* float: left */
}
#Playerscore{
	position: absolute;
	width: 200px;
	top: 20px;
	right: 20px;
	background: #F8FDFF;
	border: 2px solid #F8FDFF;
	border-radius: 10px;
	  /* float: left */
}

#BoiteMessage {
	position: absolute;
	background-color: #686c6d;
	width: 750px;
	left: 300px;
	top: 20px;
	height: 50px;
	overflow-y:scroll;
}

#BoiteMessage p{
	margin: 0px;
	padding: 0px;
	color: #F8FDFF;
}
#BoiteMessage p .emet{
	font-weight: bold;
	color: #323032;
}


.panel{
  position: relative;
  width: 100%;
  /* height: 6em; */
  box-sizing: border-box;
  text-align: center;
}

 h2, h3 {
  color: #F8FDFF;
  background-color: #E8482E;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  font-family: 'Merrycle', sans-serif;
}
#Playerlist .player, #Playerscore .player{
  padding-left: 5px;
  padding-right: 5px;
  margin: 5px 0px;
  border: solid 1px #F8FDFF;
}



#Playerlist .player .pseudo, #Playerscore .player .pseudo{
	display: inline-block;
	position: relative;
	width: 60%;
	text-align: left;
	font-size: unset;
    /* font-weight: bold; */
	margin-right: 5px;
}
#Playerlist .player .pseudo:hover {
	background-color: #E8482E;
}

.conteur{
	/* &#128483; */
	background-image: url("../images/conteur.png");
	 background-repeat: no-repeat;
	background-size: 32px 32px;
	background-clip: border-box;
	background-position: right 
}
#Playerlist .player .action{
	/* &#128483; */
	position: relative;
	display: inline-block;
	background-image: url("../images/action.gif");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: border-box;
	width: 32px;
}

#Playerlist .player .done{
	/* &#128483; */
	position: relative;
	display: inline-block;
	background-image: url("../images/done.png");
	 background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: border-box;
	width: 32px;
}

#Playerlist .off{
	/* &#128483; */
	position: relative;
	display: inline-block;
	background-image: url("../images/off.png");
	 background-repeat: no-repeat;
	background-size: 100% 100%;
	background-clip: border-box;
	width: 32px;
}


#Playerlist .player .score{
	display: inline-block;
	position: relative;
	width: 20%;
	text-align: right;
}

.SelectionPhase {
	position: absolute;
	left: 600px;
	top: 20px;
	width: 200px;
	background: #F8FDFF;
	border: 2px solid #F8FDFF;
	border-radius: 10px;
	padding: 4px;
}

#SelectionPhase0 button, #SelectionPhase1 button, #SelectionPhase2 button, #SelectionPhase3 button, #SelectionVictoire button{	
	color: #F8FDFF;
	background-color: #E8482E;
	text-align: center;
	border-radius: 10px;
	border: none;
	text-decoration: none;
	padding: 5px;
	margin: 5px;
	width : 95%;
	margin-bottom: 15px;
	font-size: 25px;
	box-shadow: 5px 5px 10px 5px #686c6d;
}

#SelectionPhase0 button:hover, #SelectionPhase1 button:hover, #SelectionPhase2 button:hover, #SelectionPhase3 button:hover, #SelectionVictoire button:hover {
	background-color: #912C1C
}

#SelectionPhase0 button:active, #SelectionPhase1 button:active, #SelectionPhase2 button:active, #SelectionPhase3 button:active, #SelectionVictoire button:active{
 background-color: #912C1C;
  box-shadow: 1px 1px 10px 1px #686c6d;
  transform: translateY(2px);
  transform: translateX(2px);
}

#Main {
	position: absolute;
	bottom: 8px;
	/* height: 350px; */
	/* border: 2px solid #F8FDFF; */
	/* border-radius: 10px;	 */
}

#Main .content{
	position: relative;
	margin: 10px 0px;
}

.carteM , .carteV {
  position: absolute;
  margin: 1em 0;
  height: 300px;
  width: 200px;
  vertical-align: bottom;
  /* margin: 6px 8px; */
  border-radius: 5%;
  box-shadow:   5px 5px 10px #686c6d;
  cursor: pointer;

}

.macarte {
	box-sizing: border-box;
	border: 5px solid #E8482E;
}

.carteM:hover {
	/* box-shadow: inset 5px 5px 10px F8FDFF; */
}


/* #msg_phase2_joueur .tour-msg{ */
	/* position: absolute; */
	/* top: 170px ; */
	
/* } */

.tour-msg {
	position: absolute;
	top: 70px;
	right: 40px;
	width: 500px;
	height: 200px;
}

.tour-msg h2{
	text-align: center;
	color: #686c6d;
	background-color: transparent;
	font-size: xx-large;
	text-shadow: 2px 2px 1px black;
}
.tour-msg p{
	text-align: center;
	color: #686c6d;
	/* margin: 10px 20px; */
	background-color: transparent;
	font-size: 22px;
	text-shadow: 2px 2px 1px black;
	padding: 0px;
	margin: 0px;
}
.tour-msg #conteurName{

	color: #E8482E;
	text-shadow: 2px 2px 1px black;
}


.proprio {
	position: absolute;
	text-align: center;
	font-size: x-large;
	border-radius: 5px;
}
.piondevote {
	position: absolute;
	text-align: center;	
	z-index: 15;
	font-size: large;
	border-radius: 50%;
	z-index: 15;
	border: thick double;
}

.poinvote-text {
	display:block;
	padding-top:7px;
}

.gain {
	position: absolute;
	text-align: center;
	background: transparent;
	text-shadow: 2px 2px 1px black;
	color: #F8FDFF;
	font-size: xxx-large;
	z-index : 25;
}


.Moi {
	background-color :#E8482E;
	color:  #F8FDFF;
}

.PasMoi {
	background-color :#F8FDFF;
	color:  #323032;
	
}


@keyframes cache {
	 /* 0% { clip-path : polygon(0 0, 0 300px, 200px 300px , 200px 0) ;} */
	 100% {clip-path : polygon(0 0, 0 20px, 200px 20px, 200px 0) ;  bottom : -180px; }
}




/* Bouton Regle du jeux  et quitter le jeux */

#BoiteAbutton {
	position: absolute;
	top: 20px;
	right : 20px;
	width : 200px;
}

#BoiteAbutton button {
  position: relative;
  margin: 1%;
  border-radius: 3px;
  border: 2px solid #686c6d;
  box-sizing: border-box;
  padding: 4px;
  width: 44%;
  font-size: 16px;
  background: #686c6d;
  color: #F8FDFF;
  float: left;
  margin-left: 4%;
}

#BoiteAbutton button:hover {
  background: #E8482E
}

.above {
  z-index: 50 !important;
}

/* #about-button, #exit-game { */
  /* position: absolute; */
  /* right: 0; */
  /* margin-right: 10px; */
  /* margin-top: 10px; */
  /* border: 2px solid #F8FDFF; */
  /* background: #323032; */
  /* color: #F8FDFF; */
  /* font-size: 16px; */
/* } */

/* #about-button.open, #exit-game.open { */
  /* color: #323032; */
  /* background: #F8FDFF; */
/* } */

/* #about-button:hover, #exit-game:hover { */
  /* background: #686c6d; */
/* } */

#about-button-close {

	position: absolute;
    right: 0;
    background-color: #F8FDFF;
    font-size: x-large;
    border: none;
    top: 0;
     /* border-radius: 50%;  */
}

#about-button-close:hover {
  color: #686c6d;
}

#about-window {
  position: absolute;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background: #F8FDFF;
  top: 5px;
  padding: 0 25px;
  border-radius: 10px;
  margin-bottom: 200px;
}

#about-window ul {
  position: relative;
  list-style: square !important;
  padding: 0px 50px;
 
  margin-top: 0;
}

#about-window .bleu{
	color : rgb(51, 102, 255);
}

#about-window h2, #about-window h3  {
  color: #686c6d;
  background-color: #F8FDFF;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  font-family: 'Changa', sans-serif;
 
}
#about-window h3  {
	 text-align: left;
}


#about-window a {
  display: block;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: #323032;
}

#about-window a:hover {
  color: #11779F;
}
